.fa, .ai {
	font-size: 2rem;
}
.fa:hover, .ai:hover {
	transform: scale(1.4) rotate(-0.05turn);
}

ul.network-icon {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.network-icon li {
	margin-right: 10px;
}
